{% extends './layout.html' %}

{% block title %}{{data.area}} - {{data.title}}{% endblock %}

{% block container %}
<div class="container">
    <h1>{{data.titulo}}</h1>
</div>
<div class="tutorial-1">
    <div class="tutorial-text">
        <h2>Tutorial 1</h2>
        <p>Texto descriptivo del Tutorial 1</p>
    </div>
    <img src="../static/img/paso_1.png" alt="Tutorial 1">
</div>

<div class="tutorial-2">
    <div class="tutorial-text">
        <h2>Tutorial 2</h2>
        <p>Texto descriptivo del Tutorial 2</p>
    </div>
    <img src="./static/img/paso_2.png" alt="Tutorial 2">
</div>
{% endblock %}