{% extends './layout.html' %}

{% block title %}{{data.area}} - {{data.title}}{% endblock %}

{% block container %}
<div class="container">
    <h1>{{data.titulo}}</h1>

<div class="tutorial-1">
    <div class="tutorial-text">
        <p>Arrastrar o insertar un archivo en formato .csv con información obtenida desde el Servicio Meteorologico Nacional o servicio meteorologico que usted desee.  </br>

        </br>Las columnas de información deben ser las siguientes: Year,Month,Day,Hour,Minute,Cloud Type,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle,Precipitable Water,Wind Direction,Wind Speed,Fill Flag .</p>
    </div>
    <img src="../static/img/paso_1.png" alt="Tutorial 1">
</div>

<div class="tutorial-2">
    <div class="tutorial-text">
        <p>Se obtendrá una proyección de las variables de irradiación DNI, GHI y DHI</p>
    </div>
    <img src="./static/img/paso_2.png" alt="Tutorial 2">
</div>
</div>
{% endblock %}