{% extends './layout.html' %}

{% block title %}{{data.area}} - {{data.title}}{% endblock %}

{% block container %}
<div class="container">
    <h1>{{data.titulo}}</h1>
        {{ dropzone.create(action='upload_file') }}
        {{ dropzone.load_js() }}
        {{ dropzone.config(padding) }}
    <!--<div class="uploadbox">
        <input type="file" id="fileUpload" accept=".csv"> 
        Arrastra y suelta un archivo CSV aquí o haz clic para seleccionar un archivo.
        
    </div>
    <div class="button-container" >
        <a class="button" href="dashboard_calcs">Enviar</a>
    </div>-->
</div>
{% endblock %}

{% block enviarArchivo_script %}

{% endblock %}